<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}

	<title>CLICK.NET</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

<link rel="stylesheet" href={% static "css/done.css" %}>
<style>
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('/static/img/loader.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
    }
    </style>

</head>

<body style="background: url('{% static 'img/text.png'%}');background-size: 1800px 900px;
background-repeat: no-repeat;
background-position: top;
background-attachment: fixed;">
<div class="preloader"></div>

	<div id="notfound">
		<div class="notfound" mar>
			<div class="notfound-404" style="margin:0">
				<h1 style="font-size: 85px;color: rgb(3, 171, 238) ;">Congrets</h1>
			</div>
			<h2>We Are Send You Password Resate link On Your Email</h2>
			<p>if your not see email please check your spam box</p>
			<a href="{% url 'login' %}">Login Now</a>
		</div>
	</div>
	<script> 
        var app_vars = {"language":"en_US"} 
        </script>
	<script src={% static "js/script.main.js" %}></script>
	<script>
			$(window).load(function() {
			   $('.preloader').fadeOut('slow');
			});
			</script>
</body>

</html>
